<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-rk2w5c72jLlYIoHoaD3nBhV2goT+PACJkTq0aGeFQe5V/Jm2Oq34f2DSlnSK8Ad5" crossorigin="anonymous">
</head>

<footer class="bg-neutral-950 p-6 mb-0">
  <div class="flex items-center justify-between">
    <div class="flex items-center text-white">
      <%= image_tag('Robot.svg', width: 48, height: 48, alt: 'Larger Robot Icon') %>
      <div class="pl-4">
        <span class="font-semibold text-xl tracking-tight">Karan Mehta</span>
      </div>
    </div>

    <div class="hidden lg:flex items-center space-x-4">
      <!-- LinkedIn icon -->
      <a href="https://www.linkedin.com/in/karan-mehta-2b706093/" target="_blank" rel="noopener" class="text-white px-4 py-2 pl-2 leading-none border rounded border-white hover:border-transparent hover:text-teal-500 hover:bg-white">LinkedIn</a>
      
      <!-- GitHub icon -->
      <a href="https://github.com/karanm645" target="_blank" rel="noopener" class="text-white px-4 py-2 leading-none border rounded border-white hover:border-transparent hover:text-teal-500 hover:bg-white">GitHub</a>

      <!-- Email icon -->
      <a href="mailto:karanm645@gmail.com" class="text-white px-4 py-2 leading-none border rounded border-white hover:border-transparent hover:text-teal-500 hover:bg-white">Email Me</a>
    </div> 
  </div>
</footer>
