<nav class="flex items-end justify-between flex-wrap bg-neutral-950 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <%= image_tag('Robot.svg', width: 24, height: 24, alt: 'Robot Icon') %>
    <span class="font-semibold text-xl tracking-tight pl-2">Karan Mehta</span>
  </div>
  <div class="block lg:hidden"></div>

  <div class="center">
    <a href="/about" class="inline-block text-sm px-4 py-2 pl-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">About Me</a>
    <a href= "/blog_posts" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Blog</a>
  </div>
</nav>