<div class="text-center bg-gradient-to-r from-cyan-500 to-blue-500">
  <h1 class="font-sans tracking-wide text-4xl font-bold pr-4 pl-4 pt-10">A Ruby on Rails enthusiast and software craftsman </h1>
  <h2 class="font-sans text-2xl pr-10 pl-10 mx-10 pt-4 pb-6 italic">Currently Integrating and building a marketing platform at Sol Imagery </h2>
</div>
<div class="prose mx-auto py-8 text-xl text-black">
  <h1>Welcome to my site!</h1> 
  <p>I’m Karan (pronounced Kuh-run) and I live in Dallas, TX and grew up in South Texas. I’m a student of history, love playing basketball, and a veteran chai drinker and maker.</p>
<div class="flex flex-row">
  <div class="basis-1/2 flex items-center"><%= image_tag("me-at-bros.jpeg", class: "w-full h-auto rounded") %></div>
  <div class="basis-1/2 ml-8"><%= image_tag("chai.jpeg", class: "w-full h-auto rounded") %></div>
</div>
  <h2>Why Blog?</h2>
  <p>
    I started this blog as a means to communicate my technical knowledge as a developer. I’d like to accomplish the following:
    <ul class="list-outside list-disc">
      <li>Mentor those who are just starting to write their first lines of code</li>
      <li>Engage and build exciting tools and applications with other devs</li>
      <li>Learn from experienced developers through pairing and listening to their wisdom</li>
    </ul>
  <h2>My Background</h2>
  <p>
    I graduated from a rewarding seven month backend engineering program at the Turing School of Software Engineering, and quickly gained the ability to drink straight out of the firehose and learn at a rapid pace. I started as a backend developer and I’m currently implementing frontend technologies to ultimately become a dynamic full-stack developer.
  </p>

  <p>Previous to engineering, I spent my career working as a communications expert at the Illinois Senate and ran multiple properties as a General Manager. In all of my endevours, technology always fascinated me and chose to completely dedicate my career in engineering solutions for users. </p>
  <p>
    Join me in my blogging journey and let's nerd out together!
  </p>
      <h3>Book a spot with me on calendly and let's dive into exhilarating topics!</h3>
      <p class="font-bold text-xl"><%= link_to "Lets Chat Now", "https://calendly.com/karanm645/coffee-chat",  target: :_blank %></p>
</div>

