<div class="text-center bg-gradient-to-r from-cyan-500 to-blue-500">
  <h1 class="font-sans tracking-wide text-4xl font-bold pr-4 pl-4 pt-10">A Ruby on Rails enthusiast and software craftsman </h1>
  <h2 class="font-sans text-2xl pr-10 pl-10 mx-10 pt-4 pb-6 italic">Currently Integrating and building a marketing platform at Sol Imagery </h2>
</div>
<div class="prose mx-auto py-8 text-xl text-black">
  Hi I’m Karan (pronounced Kuh-run) and I live in Dallas, TX and grew up in South Texas. When I was 15 I moved to India which was an eye opening experience that I love looking back on! I’m fascinated by all things history, love basketball and making a nice hot cup of chai.
<div class="flex flex-row">
  <div class="basis-1/2 flex items-center"><%= image_tag("indo-chinese-pic.jpeg", class: "w-full h-auto rounded") %></div>
  <div class="basis-1/2 ml-8"><%= image_tag("chai.jpeg", class: "w-full h-auto rounded") %></div>
</div>
  <p>
    I started this blog to dive into my life as a developer and sharpen my ability to communicate my methods. I want to engage and be a resource for people who are just starting to code, and learn from and share knowledge from experienced developers.
  </p>
  <p>
    I graduated from a rewarding seven month Backend Engineering program at the Turing School of Engineering, and quickly gained the ability to drink straight out of the firehose and learn at a quick pace. From learning the basics of programming, to now grasping different technologies and integrating tools for an extraordinary company called Sol Imagery – I’m blessed to be a student of the wise and a mentor for those starting out!
  </p>
  <p>
    Join me in my blogging journey and let's nerd out together! Here’s a link to my calendly, please feel free to schedule time with me to dive into tech, or to simply make a genuine connection.
  </p>
</div>

